PVE_HOST=https://192.168.1.100:8006
PVE_NODE=pve
PVE_TOKEN_ID=root@pam!dashboard
PVE_TOKEN_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
UBUNTU_TEMPLATE_ID=9000
WIN_TEMPLATE_ID=9001
PORT=3001
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
